[submodule "cmsworkflow"]
	path = cmsworkflow
	url = ../silverstripe-cmsworkflow.git
[submodule "spamprotection"]
	path = spamprotection
	url = ../silverstripe-spamprotection.git
[submodule "userforms"]
	path = userforms
	url = ../silverstripe-userforms.git
[submodule "news"]
	path = news
	url = ../silverstripe-news.git
[submodule "sapphire"]
	path = sapphire
	url = ../sapphire
[submodule "forum"]
	path = forum
	url = ../silverstripe-forum
[submodule "subsites"]
	path = subsites
	url = ../silverstripe-subsites
[submodule "cms"]
	path = cms
	url = ../silverstripe-cms
[submodule "recaptcha"]
	path = recaptcha
	url = ../silverstripe-recaptcha
